.slider{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.card{
  flex: 0 0 auto;
}